<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/main}">

	<main layout:fragment="content">
		<form method="post" th:action="@{/user/login}" autocomplete="off">
			<div class="error" th:if="${session.field == 'global'}" th:text="${session.message}"></div>
			<dl>
				<dt th:text="#{userId}"></dt>
				<dd>
					<input type="text" name="userId" th:value="${userId}">
					<div class="error" th:if="${session.field == 'userId'}" th:text="${session.message}"></div>
				</dd>
			</dl>
			<dl>
				<dt th:text="#{userPw}"></dt>
				<dd>
					<input type="password" name="userPw" th:value="${session.userPw}">
					<div class="error" th:if="${session.field == 'userPw'}" th:text="${session.message}"></div>
				</dd>
			</dl>
			<dl>
				<dd>
					<input th:if="${saveId == null}"type="checkbox" name="saveId" value="true" id="saveId">
					<input th:unless="${saveId == null}"type="checkbox" name="saveId" value="true" checked id="saveId">
					<label for="saveId" th:text="#{user.saveId}"></label>
				</dd>
			</dl>
			<button type="submit" th:text="#{user.login}"></button>
		</form>
	</main>
</html>