<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<header th:fragment="common">
		<th:block sec:authorize="isAnonymous()">
			<a th:href="@{/user}" th:text="#{user.join}"></a>
			<a th:href="@{/user/login}" th:text="#{user.login}"></a>
		</th:block>

		<th:block sec:authorize="isAuthenticated()">
			[[${session.userInfo.userNm}]]([[${session.userInfo.userId}]])님 로그인...

			<a sec:authorize="hasAnyAuthority('ADMIN')" th:href="@{/admin}">관리자</a>
			<a th:href="@{/user/logout}">로그아웃</a>
		</th:block>
	</header>
</html>